@model IEnumerable<ProductDisplayResponse>

@{
    ViewData["Title"] = "GetAllProducts";
}


<div class="row">
    <div class="col-md-12 p-5">
        <h4 class="text-center mb-5"><b>Products</b></h4>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th class="text-center"> 
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <form asp-action="ChangeStatus" class="d-flex justify-content-around">
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit Product</a>
                                @Html.ActionLink("Delete Product", "Delete", new { id=@item.Id }, new {@class="btn btn-danger", onclick = "return confirm('Are you sure want to delete?');" })
                                <input hidden class="form-control" name="id" value="@item.Id" />
                                <input type="submit" value="Change Status" class="btn btn-primary" />
                            </form>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>